# Core Libraries
numpy~=2.0.1 # Ensures compatibility with bittensor and spacy-pkuseg

tensorflow>=2.11.0  # Ensures compatibility with numpy and avoids unnecessary conflicts
# Bittensor Dependencies
bittensor==8.5.1rc1
bittensor-cli==8.2.0rc6

scikit-learn>=1.0.0  # Machine learning tools
librosa>=0.10.0  # Audio processing

# Deep Learning Frameworks
torch>=1.13.1
torchaudio>=0.13.1


# Transformers and NLP
transformers>=4.32.0  # Compatible with current frameworks and features
huggingface-hub>=0.26.0
spacy>=3.8.0
spacy-pkuseg==1.0.0  # Requires numpy between 2.0.0 and 3.0.0
langid>=1.1.6
nltk>=3.9.1

# Web and API Development
fastapi>=0.70.0
uvicorn>=0.17.0
aiohttp>=3.0.0
async-timeout>=4.0.0
attrs>=20.0.0

# Speech and Audio Processing
speechbrain>=0.5.0  # For advanced speech tasks
pydub>=0.25.1  # Audio manipulation
soxr>=0.5.0.post1  # Resampling
soundfile>=0.12.1  # For reading and writing audio

# Whisper and YT-DLP
openai-whisper>=20240930
yt-dlp>=2024.12.6  # YouTube downloader for generating audio datasets

# Utilities
python-dotenv>=1.0.0  # For managing environment variables
absl-py>=2.0.0  # Logging and utility functions
