numpy>=1.20, <2.0.0
torch>=1.13.1, <2.0
tensorflow==2.18.0
transformers>=4.30, <4.50
librosa==0.10.2.post1
speechbrain==1.0.2
pydub==0.25.1
spacy==3.8.3
yt-dlp==2024.12.6
sentencepiece==0.2.0
-e git+https://github.com/Cazure8/voiceguard-subnet@eec8417034bd52bb5c9f5e92bc3616c72e93d335#egg=voiceguard_subnet